[bumpversion]
current_version = 0.1.2
verbose = 1

[bumpversion:file:pyproject.toml]
search = version = "0.1.1"
replace = version = "{new_version}"

[bumpversion:file:src/freeotp_vault/__init__.py]
search = __version__ = "0.1.1"
replace = __version__ = "{new_version}"
